<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<h1><a href="home/index">서강대학교</a></h1>


<input type = "button" value = "night" onclick = "
    nightDayHandler(this);
">





<!--<input type="button" value="day" onclick = "-->
<!--    document.querySelector('body').style.backgroundColor = 'white';-->
<!--    documnet.quer0ySelector('body').style.color = 'black';-->
<!--">-->

<!--<input type="button" value="night" onclick = "-->
<!--    document.querySelector('body').style.backgroundColor = 'black';-->
<!--    documnet.querySelector('body').style.color = 'white';-->
<!--">-->

<!--<input id = "night_day" type="button" value="night" onclick = "-->

    <!--var target = document.querySelector('body');-->

    <!--if(this.value === 'night'){-->
    <!--    target.style.backgroundColor = 'black';-->
    <!--    target.style.color = 'white';-->
    <!--    this.value = 'day';-->
    <!--} else{-->
    <!--    target.style.backgroundColor = 'white';-->
    <!--    target.style.color = 'black';-->
    <!--    this.value = 'night';-->
    <!--}-->
<!--">-->



<ol>
    <li><a href="home/one">하나</li>
    <li><a href="home/two">둘</li>
    <li><a href="home/three">셋</li>
</ol>